<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<h1>{{ .title }}</h1>
<h3><span style="white-space: pre-line"> {{.details}}</span></h3>

<body>
<form action="/crud1" method="post">

<label for="fname">First Name:</label>
<input type="text" id="fname" name="fname">
<br><br> 

<label for="lname">Last Name:</label>
<input type="text" id="lname" name="lname">
<br><br> 

<label for="product">Product:</label>
<input type="text" id="product" name="product">
<br><br>

<label for="price">Price:</label>
<input type="number" id="price" name="price" min="1.00" max="200.00">
<br><br>

<label for="quantity">Quantity:</label>
<input type="number" id="quantity" name="quantity" min="1" max="10">
<br><br>

<label for="category">Category:</label>
<input type="text" id="category" name="category">
<br><br>

<label for="shipping">Shipping:</label>
<input type="text" id="shipping" name="shipping">
<br><br>

<input type="submit" value="Submit">
</form>

</body>
</html>